<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left">
      ionic4-tooltips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <ion-list>-->
    <ion-card>
      <ion-card-title class="ion-text-center ion-padding">Options</ion-card-title>

      <ion-card-content>
        <ion-row>
          <ion-col [size]="6">
            <ion-item>
              <ion-label>
                Show arrow
              </ion-label>

              <ion-toggle mode="ios"
                          [(ngModel)]="showArrow"></ion-toggle>
            </ion-item>
          </ion-col>

          <ion-col [size]="6">
            <ion-item>
              <ion-label>
                Show On
              </ion-label>

              <ion-select [(ngModel)]="tooltipEvent">
                <ion-select-option value="click">
                  Click
                </ion-select-option>

                <ion-select-option value="press">
                  Press
                </ion-select-option>

                <ion-select-option value="hover">
                  Hover
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col [size]="6">
            <ion-item-divider color="light">
              Duration
              <ion-note color="primary" slot="end">
                {{ duration + 'ms' }}
              </ion-note>
            </ion-item-divider>

            <ion-item>
              <ion-range [(ngModel)]="duration"
                         [min]="1000"
                         [max]="10000"
                         [step]="1000"
                         [pin]="true"
                         [snaps]="true"></ion-range>
            </ion-item>
          </ion-col>

          <ion-col [size]="6">
            <ion-item-divider color="light">
              Debounce
              <ion-note color="primary" slot="end">
                {{ debounce + 'ms' }}
              </ion-note>
            </ion-item-divider>

            <ion-item>
              <ion-range [(ngModel)]="debounce"
                         [min]="0"
                         [max]="5000"
                         [step]="1000"
                         [pin]="true"
                         [snaps]="true"></ion-range>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-row class="ion-padding ion-margin-vertical">
      <ion-col [size]="12">
        <ion-button expand="block"
                    tooltip
                    tooltipHtml="I'm a multi-line<br> HTML tooltip"
                    positionV="top"
                    [arrow]="showArrow"
                    [event]="tooltipEvent"
                    [debounce]="debounce"
                    [duration]="duration">
          Top tooltip
        </ion-button>
      </ion-col>

      <ion-col [size]="6">
        <ion-button tooltip="I'm a beautiful tooltip"
                    positionH="right"
                    [arrow]="showArrow"
                    [event]="tooltipEvent"
                    [debounce]="debounce"
                    [duration]="duration">
          Right tooltip
        </ion-button>
      </ion-col>

      <ion-col [size]="6">
        <p class="ion-text-right">
          <ion-button tooltip="I'm a beautiful tooltip"
                      positionH="left"
                      [arrow]="showArrow"
                      [event]="tooltipEvent"
                      [debounce]="debounce"
                      [duration]="duration">
            Left tooltip
          </ion-button>
        </p>
      </ion-col>

      <ion-col [size]="12">
        <ion-button expand="block"
                    tooltip="I'm a beautiful tooltip"
                    positionV="bottom"
                    [arrow]="showArrow"
                    [event]="tooltipEvent"
                    [debounce]="debounce"
                    [duration]="duration">
          Bottom tooltip
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col [size]="12">
        <ion-button expand="block"
                    tooltip="Click to hide!"
                    positionV="bottom"
                    [arrow]="showArrow"
                    [active]="showToggleTooltip"
                    [event]="null"
                    [debounce]="debounce"
                    (click)="showToggleTooltip = !showToggleTooltip">
          Toggle Me
        </ion-button>
      </ion-col>

      <ion-col [size]="12">
        <ion-button expand="block"
                    tooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
                    positionV="top"
                    [arrow]="showArrow"
                    [event]="tooltipEvent"
                    [debounce]="debounce"
                    [duration]="duration">
          Really Long Text
        </ion-button>
      </ion-col>
    </ion-row>
<!--  </ion-list>-->
</ion-content>
